<footer class="footer">
  <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>&copy; 2023 Your Website. All rights reserved.</p>
        </div>
        <div class="col-md-6 text-md-right">
          <ul class="list-inline">
            <li class="nav-item active">
              <a class="nav-link" href="/app-aboutus">About us</a>
            </li>  
            <br>
      
            <li class="nav-item active">
              <a class="nav-link" href="/app-contectus">Contact us</a>
            </li>          
           
           
          </ul>
        </div>
      </div>
    </div>
  </footer>
  