<!-- <div class="container">
    <div class="left-panel">
     <h1>Indian RailWays</h1>
    </div>
    <div class="right-panel">
        <h1>Indian RailWays</h1>
    </div>
  </div>
   -->
   <!-- <div class="container">
    <div class="top-panel">
        <h1>Indian RailWays</h1>
    </div>
    <div class="bottom-panel">
        <h1>Indian RailWays</h1>
    </div>
  </div> -->
  


<!-- <body style="background-image: url('/assets/img/p1.jpeg');"> -->
  
  <div class="img"></div>
  <div class="center">
   
   
    <div class="title">Welcome to Indian Railways</div>
    <div class="sub_title"> भारतीय रेलवे में आपका स्वागत है </div>
    <div class="btns">
      <button (click)="seeData()">Show data</button>
    </div>

   
  </div>
<!-- </body> -->

  