<div class="col-md-6">
<p class="content">Railway Enquiry</p>
<p class="info">Helpline.No. 139 (24 Hours Service)</p>
<p class="info">Write to : info@irctc.com</p>
<p class="info">Internet Ticketing Complaints Write to: care@irctc.co.in</p>

<p class="info">CIN : U74899DL1999GOI101707</p>


<p class="content">North Zone:</p>
<p class="info">Rail Yatri Niwas Building, New Delhi Railway Station Complex, Ajmeri Gate Side, New Delhi - 110002</p>
<p class="info">Zonal Office Tel.No.: - 011-23234763, 23221146 , Fax: - 011-23210321</p>
<p class="info">North Zone Control Tele No. / Fax No.: 011-23221147 Mobile:09717648888</p>
<p class="info">Email Id: ggmnz@irctc.com, ggmdelhi@irctc.com</p>
<p class="content">Rail Neer Plant Nangloi:</p>
<p class="info">Rail Neer Plant, Northan Railways Wireless Station Area, Opposite Nangloi Bus Depot, Nangloi -110041</p>
<p class="info">Tel.No. 011-65152575,25949774 Fax No. 011-25949773</p>


<p class="content">Lucknow RO:</p>
<p class="info">Paryatan Bhawan, 2nd Floor, C-13, Vipin Khand, Gomti Nagar, Lucknow -226010</p>
<p class="info">Tel.No. 0522-2305522 Fax No. 0522-2305533</p>

<p class="content">Jaipur RO:</p>
<p class="info">708, 7th Floor, Crystal Mall , Sawai Jai Singh Highway,Banipark, Jaipur- 302016</p>
<p class="info">Tel.No. 0141-4020194, 4020198, Fax No. 0141-4020193</p>

<p class="content">Chandigarh RO:</p>
<p class="info">SCO-80-81-8, Sector -34A, Chandigarh -160034</p>
<p class="info">Tel.No. 0172-4645795, 6572156 ,Fax No. 0172-4645795</p>

</div>