<body class="sidebar">
    
    <div class="content">
    
    <div class="card">
        <div class="card-body">
            <div style="text-align: center;" class="col-md-12 mb-3">
                <h1>Register Here</h1>
            </div>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label for="uid">User Id</label>
                        <input type="text" class="form-control" id="uid" formControlName="userID"
                            placeholder="User Id" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="fname">First name</label>
                        <input type="text" class="form-control" id="fname" formControlName="firstName"
                            placeholder="First Name" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
    
                    <div class="col-md-12 mb-3">
                        <label for="lname">Last name</label>
                        <input type="text" class="form-control" id="lname" formControlName="lastName"
                            placeholder="Last Name" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" formControlName="email"
                            placeholder="someone@gmail.com" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" formControlName="password"
                            placeholder="password" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword"
                            placeholder="confirm password" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="aadhar">Aadhar Number</label>
                        <input type="text" class="form-control" id="aadhar" formControlName="aadharNumber"
                            placeholder="Adhar Number" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
    
    
                    <div class="button-container">
                        <button class="custom-button" type="submit">Submit form</button>
                    </div>
    
                </div>
            </form>
        </div>
    </div>
    </div>
    </body>
