
<!-- <body style="background-image: url('https://images.unsplash.com/photo-1637995735729-c43250f1ef47?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1176&q=80');"> -->
<nav >

    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
  
    <div class="menu">
      <div class="logo">
        <a>Indian Railways</a>
      </div>
      
      <ul >
        <li class="nav-item active">
          <a class="nav-link" href="/app-HomePageComponent">Home</a>
        </li>    
       
        
        <li class="nav-item active">
          <a class="nav-link" href="/app-searchtrain">Search Train</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/app-aboutus">About Us</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/app-contectus">Contect Us</a>
        </li>
                
        <li class="nav-item active">
          <a class="nav-link" href="/app-registerration">Register Here</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/app-login">Login</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/app-userdetail">Account</a>
        </li>
        
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    
  </div>
  </nav>
 
<!-- </body> -->