


<!-- 
  <ng-container *ngIf="role === 'Role_admin'; else userNav">
    <app-admin-nav></app-admin-nav>
  </ng-container>
  
  <ng-template #userNav>
    <app-nav></app-nav>
  </ng-template> -->
  <!-- <ng-container *ngIf="role === 'Role_user'; else adminNav">
    <app-nav></app-nav>
  </ng-container>
  
  <ng-template #adminNav>
    <app-admin-nav></app-admin-nav>
  </ng-template> -->

<!-- 
  <ng-container *ngIf="isAdmin; else userNav">
    <ng-container *ngWhile="isAdmin">
      <app-admin-nav></app-admin-nav>
    </ng-container>
  </ng-container>
  
  <ng-template #userNav>
    <app-nav></app-nav>
  </ng-template> -->

  <ng-container *ngIf="!isAdmin">
    <app-admin-nav></app-admin-nav>
  </ng-container>
  
  <ng-container *ngIf="isAdmin">
    <app-nav></app-nav>
    
    
  </ng-container>



<router-outlet></router-outlet>
<app-footer></app-footer>
